.venv
.vscode
uncompressed_data
compressed_data
*.pyc
*.cpython-310.pyc
csv_data

# Machine Learning
data/processed/
data/features/
models_trained/
*.pkl
*.png
*.jpg
__pycache__/
*.py[cod]
*$py.class

# Web RPA
.env
web_rpa/logs/
web_rpa/screenshots/
*.log
